
<div class="container card bg-light">
	<h1>Editar Categoria</h1>

<%= render 'form', category: @category %> <br>


<div>
	<%= link_to 'Mostrar', @category, class: "btn btn-info"%> 

<%= link_to 'Atras', categories_path, class: "btn btn-info" %> <br>
</div>

</div>

